<a href="https://colab.research.google.com/github/JasonD28/CS-175/blob/master/scripts/combining_predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import math
import numpy as np
root = "drive/My Drive/cs-175-project/predictions"
faster_preds = pd.read_csv(root+'/faster_prediction.csv')
classifier_preds = pd.read_csv(root+'/classifier_prediction.csv')

In [30]:
faster_preds

                                 patientId                                   PredictionString
0     0000a175-0e68-4ca4-b1af-167204a7e0bc                                                NaN
1     0005d3cc-3c3f-40b9-93c3-46231c3eb813                                                NaN
2     000686d7-f4fc-448d-97a0-44fa9c5d3aa6                                                NaN
3     000e3a7d-c0ca-4349-bb26-5af2d8993c3d                                                NaN
4     00100a24-854d-423d-a092-edcf6179e061  0.5938289165496826 529.087158203125 362.260467...
...                                    ...                                                ...
2995  c1e88810-9e4e-4f39-9306-8d314bfc1ff1                                                NaN
2996  c1ec035b-377b-416c-a281-f868b7c9b6c3                                                NaN
2997  c1ef5b66-0fd7-49d1-ae6b-5af84929414b                                                NaN
2998  c1ef6724-f95f-40f1-b25b-de806d9bc39d                                                NaN
2999  c1f55e7e-4065-4dc0-993e-a7c1704c6036                                                NaN

[3000 rows x 2 columns]

In [31]:
result = pd.merge(faster_preds, classifier_preds, on='patientId')
result

                                 patientId  ... pred
0     0000a175-0e68-4ca4-b1af-167204a7e0bc  ...    0
1     0005d3cc-3c3f-40b9-93c3-46231c3eb813  ...    0
2     000686d7-f4fc-448d-97a0-44fa9c5d3aa6  ...    0
3     000e3a7d-c0ca-4349-bb26-5af2d8993c3d  ...    0
4     00100a24-854d-423d-a092-edcf6179e061  ...    0
...                                    ...  ...  ...
2995  c1e88810-9e4e-4f39-9306-8d314bfc1ff1  ...    1
2996  c1ec035b-377b-416c-a281-f868b7c9b6c3  ...    0
2997  c1ef5b66-0fd7-49d1-ae6b-5af84929414b  ...    0
2998  c1ef6724-f95f-40f1-b25b-de806d9bc39d  ...    0
2999  c1f55e7e-4065-4dc0-993e-a7c1704c6036  ...    0

[3000 rows x 3 columns]

In [0]:
result.loc[result.pred == 0, 'PredictionString'] = np.NaN

In [25]:
result

                                 patientId PredictionString  pred
0     0000a175-0e68-4ca4-b1af-167204a7e0bc              NaN     0
1     0005d3cc-3c3f-40b9-93c3-46231c3eb813              NaN     0
2     000686d7-f4fc-448d-97a0-44fa9c5d3aa6              NaN     0
3     000e3a7d-c0ca-4349-bb26-5af2d8993c3d              NaN     0
4     00100a24-854d-423d-a092-edcf6179e061              NaN     0
...                                    ...              ...   ...
2995  c1e88810-9e4e-4f39-9306-8d314bfc1ff1              NaN     1
2996  c1ec035b-377b-416c-a281-f868b7c9b6c3              NaN     0
2997  c1ef5b66-0fd7-49d1-ae6b-5af84929414b              NaN     0
2998  c1ef6724-f95f-40f1-b25b-de806d9bc39d              NaN     0
2999  c1f55e7e-4065-4dc0-993e-a7c1704c6036              NaN     0

[3000 rows x 3 columns]

In [27]:
result = result.drop(columns=['pred'])
result

                                 patientId PredictionString
0     0000a175-0e68-4ca4-b1af-167204a7e0bc              NaN
1     0005d3cc-3c3f-40b9-93c3-46231c3eb813              NaN
2     000686d7-f4fc-448d-97a0-44fa9c5d3aa6              NaN
3     000e3a7d-c0ca-4349-bb26-5af2d8993c3d              NaN
4     00100a24-854d-423d-a092-edcf6179e061              NaN
...                                    ...              ...
2995  c1e88810-9e4e-4f39-9306-8d314bfc1ff1              NaN
2996  c1ec035b-377b-416c-a281-f868b7c9b6c3              NaN
2997  c1ef5b66-0fd7-49d1-ae6b-5af84929414b              NaN
2998  c1ef6724-f95f-40f1-b25b-de806d9bc39d              NaN
2999  c1f55e7e-4065-4dc0-993e-a7c1704c6036              NaN

[3000 rows x 2 columns]

In [0]:
path = 'drive/My Drive/cs-175-project/predictions/combined_prediction.csv'
result.to_csv(path, index=False)